<footer class="border-top py-4">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="container">
        <div class="row justify-content-between text-muted">
            <div class="col-auto">
                {{- site.description | escape -}}
            </div>
            <div class="col-auto mt-1">
                {%- if site.email -%}
                <a class="px-1" href="mailto:{{ site.email }}"><i class="fas fa-envelope i-footer"></i></a>
                {%- endif -%}
                {%- if site.github_username -%}
                <a class="px-1" href="https://github.com/{{ site.github_username| cgi_escape | escape }}">
                    <i class="fab fa-github i-footer"></i>
                </a>
                {%- endif -%}
            </div>
        </div>
    </div>
</footer>